.detalle {
    text-align: center;
    height: 680px;
}

;

.imgDetail {
    height: 450px;
    width: 350px;
}

.goPayment {
    width: fit-content;
    align-self: center;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: #004346;
    text-decoration: none;
    font-size: 15px;
}