.logo{
    width: 25%;
    height: 25%;
  }
  .navbar{
    width: 100%;
  }
  .nav-link{
    font-size: 22px;
    display: flex;
    justify-content: center;
  }
  .active{
    text-decoration: underline;
  }